:root {
    --white: #fff;
    --normal-text-size :14px;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Utilities */
@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    src: local('Gotham'), url('https://fonts.cdnfonts.com/s/14898/GothamMedium_1.woff') format('woff');
}

.arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding-bottom: 70px; */
}
.arrow a i{
    color: var(--white);
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
    position: relative;
    /* top: 85px ; */
    opacity: 0.8;
    animation: arrow-up-down alternate infinite ease 2s ;
}


@keyframes arrow-up-down {
    from {
        top: -85px;
        animation-timing-function: linear;
    }

    to {
        top: -75px;
    }
}





body {
    font-family: 'Gotham', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /* overflow-x: hidden;    */
}



ul {
    /* list-style: none; */
    
}

li {
    display: inline;
    padding: 4px 0;
    margin: 0 8px;
    /* cursor: pointer; */
}

a { 
    text-decoration: none;
    color: var(--white);
}



.container-header{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    /* justify-content: space-between; */
    position: relative;
    /* margin: 0;
    padding: 0; */
}

.side-nav {
    border: 3px solid red;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* top: 50%; */
    z-index: 2;
}

.side-nav ul li{
    font-size: smaller;
    display: block;
    /* border-left: #333 2px solid; */
    margin-bottom: 3px;
    /* position: fixed; */
}

.side-nav ul li a {
    font-size: 1.5rem;
    line-height: 0.5;
    font-weight: lighter;
    /* font-weight: 1; */
    /* font-stretch: ultra-condensed; */
    opacity: 0.6;
    /* color: rgb(255, 255, 255); */
}



.side-nav ul li a span {
    display: none;
}

.side-nav ul li a:hover span {
    font-size: small;
    padding-left: 8px;
    font-weight: bold;
    display:inline;
    opacity: 0.9;
}

.side-nav {
    position: fixed;
}

.right-side-chat {
    /* align-self: flex-end; */
    /* display: flex; */
    position: fixed;
    top: 70%;
    right: 50px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: var(--white);
    padding: 10px;
    box-shadow: 5px red;
}


/* Navbar */
.head-nav {
    height: 56px;
    width: 100vw;
    display: flex;
    position: fixed;
    font-size: var(--normal-text-size);
    /* font-size: 50px; */
    /* margin: 12px; */
    justify-content: space-between;
    align-items: center;
    /* padding-right: 100px; */
    z-index: 10;
}


.tesla-icon{
    color: var(--white);
    width: 100px;
    fill: var(--white);
    margin: 0 0 0 32px;
}

.navbar-logo {
    padding: 0 16px;
    flex: 0.5;
    height: 32;
}
.navbar-center {
    width: 600px;
    padding: 0 8px;
    /* flex: 1; */
}
.navbar-right {
    width: 300px;
    padding-right: calc(32px + 15px);
    /* padding-left: 10px; */
}


.model-number  {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 48px;
    padding: 0 24px;
    color: var(--white);
    text-align: center;
    z-index: 2;
    opacity: 1;
    animation: model-num-pop 1s 0.5s linear; 
}

@keyframes model-num-pop {
    from {
        top: 50px;
        z-index: 0;
        
    }

    to {
        top: 0;
        z-index: 2;
    }
}

.model-number h1 {
    /* margin-top: 49px; */
    margin-top: 16vh;
    font-size: 40px;
}

.container {
    /* height: 100vh; */
    height: 800px;
    width: 100vw;
}

.part-1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    
}

.part-1 .img-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/d0cecbbf-1a20-4b48-b136-fb096af19515/bvlatuR/std/2880x1800/model-3-main-hero-a-desktop') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
}

#barometer-icon {
     position: relative;
     left: -100px;
     top: 20px;
}
.img-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* position: absolute; */
    background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop') no-repeat center center/cover;
    height: 100vh;
    /* z-index: -1; */
}


.img-footer {
    height: 80px;
    width: 764px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}

.img-footer h2 {
    font-size: 30px;
    /* font-weight: bolde; */
    color: var(--white);
    padding-bottom: 10px;
}
.img-footer p {
    font-size: 12px;
    color: var(--white);
    
}

.img-footer .btn {
    border: 2px solid var(--white);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 150px;
    height: 26px;
    margin-left: 8px;
    padding: 4x 24px;
} 